<!DOCTYPE html>
<html>

<head>
    <title>APP</title>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <h2>{{>header}}</h2>

    <div class="div1-index">
        <p class="all-title"> this is {{title}} page with HBS</p>
        <p>{{details}} </p>
        <p>{{end}} </p>
    </div>

    <div class="foot"><span>All rights &copy; reserved to this site in 2024</span></div>

</body>

</html>